.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(61, 124, 105, 0.15);
  border: 1px solid rgba(61, 124, 64, 0.2);
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

table {
  width: 100%;
}
table td {
  padding: 14px;
  border: 1px solid #ccc;
}

.header {
  background-color: rgba(61, 124, 105, 0.15);
}
